<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.spring.lifecycle"/>
    <!--<context:component-scan base-package="com.spring.wiring"/>-->
    <context:component-scan base-package="com.spring.qualifiers"/>
    <context:component-scan base-package="com.spring.scope"/>
    <context:component-scan base-package="com.spring.autowiring.modes"/>

    <bean id="cdPlayer" class="com.spring.wiring.CDPlayer"/>

    <!--<bean id="cdPlayer" class="com.spring.wiring.CDPlayer">-->
        <!--<property name="cd" ref="romanticSongsCDImpl"/>-->
    <!--</bean>-->

    <bean id="romanticSongsCDImpl" class="com.spring.wiring.RomanticSongsCDImpl">
        <!--<property name="songs">-->
            <!--<list>-->
                <!--<value>Song1</value>-->
                <!--<value>Song2</value>-->
                <!--<value>Song3</value>-->
                <!--<value>Song1</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <util:list id="songs">
        <value>Song1</value>
        <value>Song2</value>
        <value>Song3</value>
        <value>Song1</value>
    </util:list>

    <!--<bean name="iceCream" class="com.spring.qualifiers.IceCream" primary="true"/>-->

    <!--<bean name="cake" class="com.spring.qualifiers.Cake"/>-->

    <!-- It is necessary to define aspectj-autoproxy so that spring understands the aop proxies-->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.spring.aspects"/>
    <context:component-scan base-package="com.spring.aop"/>

</beans>
